@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');
:root {
    --primary : linear-gradient(to bottom right, #0a0057, #3f00ee);
    --secondary : gold;
    --text : #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    font-family: 'Poppins', 'Bruno Ace SC';
    
}
.logo{
    font-family: Pacifico;
    color: #ffffff;
    text-decoration: none;
  }
nav{
    width: 100%;
    padding: 10;
}
nav ul{
    position: static;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(30, 21, 44);
    color: white;
   margin-bottom: 100px;
    
}
nav ul li{
    padding: 0 20px;
    color: #ffffff;
}
.link{
  color: #ffffff;
  text-decoration: none;
}
.pic img{
    width: 60px;
}
.pic {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}

body {
    min-height: 100vh;
    background-image: url(bg1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: var(--text);

    
    align-items: center;
}

.container {
    width: 100vw;

    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    
    padding: .5rem 1rem;
    text-transform: capitalize;
    margin-top: 05;
    
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
    
}

.main-video, .video-playlist {
    width: 100%;
    height: 31rem;
 
}

.main-video .title {
    margin-top: 1ssrem;
}

.video-playlist .title {
    padding-left: 1rem;
}

.video-playlist > p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos{
    height: 75%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #ffffff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video video {
    width: 800px;
    border-radius: 1rem;
    border-spacing: 0%;
    height: 452px;
    box-shadow: 0 0 20px #f700ff , 0 0 10px #00e5ff;
   
   
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
  }

  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000000;
    z-index: 1000;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  #loader-wrapper .loader-section.section-left {
    left: 0;
  }

  #loader-wrapper .loader-section.section-right {
    right: 0;
  }

  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff0404;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 99999;
  }

  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #06fbff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f700ff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }

  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
  }

  .loaded #loader {
    opacity: 0.2;
  }